.navbar {
  position: fixed;
  height: 4rem;
  width: 100vw;
  background-color: whitesmoke;
  padding-top: 0rem;
  margin-top: 0;
  z-index:1; /* Keep on top of all other elements*/
}

.container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 36rem;
  height: 4rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  margin-top: 0;
  /* background-color: lightgreen; */
  vertical-align: middle;
}

.item {
  color: black;
  padding: 1rem;
  text-align: center;
  letter-spacing: -0.05rem;
  font-weight: 600;
}

.item:hover{
  /* color:#405723; */
}

.title {
  padding: 1rem;
  /* color: black; */
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.05rem;
  font-size: 1.4rem;
}

.title:hover {
}

.single{
  display:block;
  flex-grow: 1;
  text-align: center;
}
.double{
  flex-grow: 2;
  text-align: center;
}