.navbar {
  position: fixed;
  height: 4rem;
  width: 100vw;
  background-color: var(--accentAlt);
  padding-top: 0rem;
  margin-top: 0;
  z-index:1; /* Keep on top of all other elements*/
}

.visible {
  top: 0;
  transition: .5s;
}

.notVisible {
  top: -5rem;
  transition: 1s;
}

.container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 36rem;
  height: 4rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  margin-top: 0;
  /* background-color: lightgreen; */
  vertical-align: middle;
}

.container > div > a {
    font-family: var(--fancyFont);
}

.item {
  padding: 1rem;
  color: black;
  text-align: center;
  letter-spacing: -0.05rem;
  font-weight: 500
;
}

.title {
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.05rem;
  font-size: 1.3rem;
}

.single{
  flex-grow: 1;
  text-align: center;
}
.double{
  flex-grow: 2;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .double{
    flex-grow: 1;
  }
  .title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    padding-right: 0.5em;
  }
  .item {
    padding: 0.2rem;
    font-weight: 400;
  }
}