/* Post */

.article {
    margin-bottom: -1.5rem;
}

.postTitle {
  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  align-items:baseline;
  margin-bottom: 2rem;
}

.link {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

