/* Post */


.article {
    margin-bottom: -1.5rem;
}

.postTitle {
  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  align-items:baseline;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .postTitle {
    flex-direction: column;
    flex-flow: none;
  }
}

.heading{
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-right: 2rem;
  margin-top: 0;
  flex-grow: 1;
  margin-bottom: 0;
}

.link {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.navContainer {
  display: flex;
  position: fixed;
  bottom: 3.1rem;
  width: 100vw;
  justify-content: center;

}

.navHolder {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.navButton {
  margin-bottom: .5rem;
  color: black;
}

.next {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 1rem;
}

.prev {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 1rem;
}

@media screen and (max-width: 800px) {
  .next {
    background-color: white;
  }
  .prev {
    background-color: white;
  }
  .navContainer {
    bottom: -0.5rem;
  }
}

@media screen and (min-width: 800px) {
  .navHolder {
    max-width: 50rem;
  }
}