@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css2?family=Raleway');

:root {
  --fancyFont: 'Vollkorn SC', serif;
  --primary: #000000;
  --primaryAlt: #33442d;
  --accent: #F7C33A;
  --accentAlt: rgb(234, 247, 234);
  /* --primary: #336B87;
  --primaryAlt: #90AFC5;
  --accent: #2A3132;
  --accentAlt: #763626; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden; /* Fixes RHS whitespace on mobile*/
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: var(--accentAlt)
}

body::-webkit-scrollbar-thumb{;
  background: var(--primaryAlt)
}
/*
* {
  box-sizing: border-box;
} */

a {
  color: var(--primaryAlt);
  text-decoration: none;
}

a:hover {
  color: var(--primary)
}

a:hover {
    color: var(--primaryAlt);
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.post img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

p,center {
  color: #666;
}