/*

- Headings
- Image
- List
- General

*/


/* Headings */
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: var(--fancyFont);
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 3rem 0;
  flex-grow: 1;
  margin-bottom: 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  margin-bottom: -.5rem;
}

.headingSection{
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-family: var(--fancyFont);
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Image */

.borderCircle {
  border-radius: 9999px;
}

.flipHorizontal {
  transform: scaleX(-1);
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  /* transition:1s; */
  padding: .6rem .5rem .6rem;
  border-bottom: 1px solid var(--accentAlt);
}

@media screen and (min-width: 700px) {
  .listItem:hover {
    transition: ease-out .2s;
    background-color: var(--accentAlt);
  }

  .listItem {
    transition: ease-in .5s;
  }
}

.listItem:last-of-type {
  border-bottom: none;
}

.horzList{
  display:flex;
  justify-content:space-between;
  margin: 50px;
}

/*
.listItem:hover {
  transition:1s;
  background-color: var(--accent);
} */

/* General */

.icon {
  height: 50px;
}

.lightText {
  color: var(--primaryAlt);
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.upperCase {
  text-transform: capitalize;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  color: black;
  font-weight: bold;
}


